<header>
  <div class="head-top">
    <div class="title">
      <div class="slogan"></div>
    </div>
    <div class="logo">
      <a href="/en/index.html"><img src="/assets/images/logo.jpg"></a>
    </div>
  </div>
  <div class="menu-wrapper">
    <div class="social">
      <div class="social-item">
        <i class="fa fa-weibo"></i>
      </div>
      <div class="social-item">
        <i class="fa fa-wechat"></i>
      </div>
      <div class="social-item">
        <a href="/index.html">
          <i class="fa fa-language"></i>
        </a>
      </div>
    </div>
    <div class="menu-dropdown">
      <span class="fa-stack">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-bars fa-stack-1x"></i>
      </span>
    </div>
    <div class="menu-list">
      <div class="menu-item"><a href="/en/index.html">LINHELI</a></div>
      <div class="menu-item"><a href="#map">Shops</a></div>
      <div class="menu-item"><a href="#our-story">About</a></div>
    </div>
  </div>
</header>
