<header>
  <div class="head-top">
    <div class="title">
      <div class="slogan">生活是一手好菜</div>
      <div class="social">
        <div class="social-item">
          <i class="fa fa-weibo"></i>
        </div>
        <div class="social-item">
          <i class="fa fa-wechat"></i>
        </div>
      </div>
    </div>
    <div class="logo">
      <a href="/"><img src="/assets/images/logo.png"></a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-item"><a href="#map">门店</a></div>
    <div class="menu-item"><a href="#freshes">生鲜</a></div>
    <div class="menu-item"><a href="#recipes">烹饪</a></div>
    <div class="menu-item"><a href="#lifestyle">生活</a></div>
    <div class="menu-item"><a href="#our-story">关于我们</a></div>
    <div class="menu-item"><a href="#join-us">加盟招商</a></div>
  </div>
</header>
