<header>
  <div class="head-top">
    <div class="title">
      <div class="slogan">生活是一手好菜</div>
    </div>
    <div class="logo">
      <a href="/"><img src="/assets/images/logo.jpg"></a>
    </div>
  </div>
  <div class="menu-wrapper">
    <div class="social">
      <div class="social-item">
        <i class="fa fa-weibo"></i>
      </div>
      <div class="social-item">
        <i class="fa fa-wechat"></i>
      </div>
      <div class="social-item">
        <a href="/en/index.html">
          <i class="fa fa-language"></i>
        </a>
      </div>
    </div>
    <div class="menu-dropdown">
      <span class="fa-stack">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-bars fa-stack-1x"></i>
      </span>
    </div>
    <div class="menu-list">
      <div class="menu-item"><a href="/index.html#discount">最新活动</a></div>
      <div class="menu-item"><a href="/index.html#map">门店</a></div>
      <div class="menu-item"><a href="/freshes.html">生鲜</a></div>
      <div class="menu-item"><a href="/recipes.html">烹饪</a></div>
      <div class="menu-item"><a href="/lifestyle.html">生活</a></div>
      <div class="menu-item"><a href="/about.html">关于我们</a></div>
      <div class="menu-item"><a href="/about.html#career">加入我们</a></div>
      <div class="menu-item"><a href="/about.html#join-us">加盟招商</a></div>
    </div>
  </div>
</header>
