---
---
$pure-white:  #ffffff;
$light-cream: #ede8d8;
$dark-camel:  #9f9486;
$dark-grey:   #4f4f4f;
$aux-green:   #353f33;
$aux-purple:  #463839;

$breakpoint: 60rem;
$page-width: 60rem;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

@media (max-width: $breakpoint) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: $pure-white;
  color: $dark-grey;
  font-family: Georgia, "Times New Roman", "STSong", "SimSun", "Hiragino Sans GB", "Microsoft YaHei", serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  text-align: center;
  word-wrap: break-word;
}

body ::selection {
  color: $light-cream;
  background-color: $aux-green;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
  width: $page-width;
}

.content-wrapper {
  text-align: left;
  margin: 0 2rem;
}

header {
  text-align: left;
  margin: 0 2rem 1rem;
}

.head-top {
  height: 5rem;
}

.logo {
}

.logo img {
  height: 5rem;
}

.title {
  float: right;
  font-size: 1.4rem;
  letter-spacing: 4px;
}

.slogan {
  color: $aux-purple;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 6px;
  margin: .8rem 0;
}

.social {
  display: flex;
  flex-direction: row-reverse;
  float: right;
}

.social-item {
  font-size: 1.2rem;
  margin: -0.1rem .8rem 0 0;
}

.social-item:last-of-type {
}

.menu-wrapper {
  background-color: $light-cream;
  color: $dark-camel;
  font-size: 1rem;
  font-weight: bold;
  padding: .8rem 0;
}

.menu {
  display: flex;
}

.menu-item {
  margin: 0 0 0 .8rem;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: $dark-camel;
    color: $light-cream;
  }
}

.section {
  margin: 4rem 0 0;
}

.tile {
  display: flex;
  width: 100%;
}

.tile-item {
  background-color: $light-cream;
  margin-right: 1rem;
  width: 33.33%;
}

.tile-item:last-of-type {
  margin-right: 0;
}

.tile-title {
  color: $aux-green;
  font-size: 2.2rem;
  padding: 1rem;
}

.tile-content {
  padding: 1rem;
}

.tile-image {
  height: 20rem;
  width: 100%;
}

.tile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article {
  width: 100%;
}

.article-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.article-subtitle {
  text-align: center;
  margin-bottom: 1rem;
}

.article-content {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 1.8rem;
  margin: 0 6rem;
  padding: .8rem;
  background-color: $light-cream;

  img {
    max-width: 100%;
  }

  p {
    text-indent: 3rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.article-category {
  text-align: center;
  margin-bottom: 1rem;
}

#ceo {
  width: 25rem;
}

.map {
  margin: 0 auto;
  width: 640px;
  height: 480px;
}

footer {
  margin: 3rem 1rem 1rem;
  line-height: 2rem;
}

hr {
  width: 6rem;
  margin-top: 4rem;
}

@media (max-width: $breakpoint) {
  header {
    margin: 0;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
  }

  .wrapper {
    width: 100%;
  }

  .content-wrapper {
    margin: 0;
  }

  .tile {
    display: block;
  }

  .section {
    margin-top: 3rem;
  }

  .tile-item {
    width: 100%;
    margin: 4rem 0 1rem;
  }

  .tile-image {
    height: 100vw;
  }

  .article-content {
    margin: 0;
  }

  .map {
    width: 100%;
    height: 100vw;
  }

  hr {
    width: 3rem;
  }

  footer {
    margin: 3rem 0;
  }
}
